.group-chooser{
  background-color : hsl(0, 0%, 95%);
  height: 165px;
  border-top: 1px solid #CCC;
  /*border-bottom: 1px solid #CCC;*/
  width:100%;
  overflow-x: scroll;
  overflow-y: scroll;
}
.slick-prev {
  left: 25px;
}
.slick-next {
  right: 25px;
}
.slick-next:before, .slick-prev:before {
  font-size: 30px;
  line-height: 1;
  opacity: 1;
  color: #CCC;
}
.groupAddBtn{
  bottom:0px;
  left: 2px;
  position: relative;
  float: center;
  width: 90px;
  height:20px;
}