.style_bg {
  height : 320px;
  overflow : hidden;
  position: relative;
}
.style_img {
  width:100%;
  height: 355px;
}
.style_title {
  width:100%;
  background-color :rgba(79, 73, 75, 0.72);
  position :absolute;
  bottom: 0;
  height :40px;
  display : block;
  text-align: left;
  font-size: 30px;
  color : white;
}
.style_chk {
  float: right;
  display: inline;
  width: 70px;
  height:20px;
}
